# Very Generic Ignores
/zk/*
test/spokeo/yapp/conf/zip.info
yapp-*.tar.gz
*/tmp/*
*yapp$
configure
*Makefile
compile
config.h
config.sub
depcomp
stamp-h1
missing
libtool
ltmain.sh
install-sh
*.status
*.guess
*.m4
*~
*.a
*.la
*.lo
*.so
*.o
*.in
*.log
*.scan
*.java
*.deps
*.libs
*.cache
*.old
*.swp
/bin/*
/dated/*
